.vacancy-body{
    min-height: 90vh;
    padding: 70px 0;
}
.vacancy-container{
    max-width: 1185px;
    margin: 0 auto;
}
@media screen and (max-width: 1260px){
    .vacancy-container{
        max-width: 960px;
    }
}
@media screen and (max-width: 991px){
    .vacancy-container{
        max-width: 720px;
    }
}
@media screen and (max-width: 768px){
    .vacancy-container{
        max-width: 500px;
    }
}
@media screen and (max-width: 574px){
    .vacancy-container{
        max-width: 100%;
        padding: 0 15px;
    }
}
.vacancy-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
}
/* vacancy */
.vacancy{
    margin-bottom: 15px;
    width: 100%;
}
.vacancy__null{
    padding: 57px;
    border-radius: 20px;
    background: #F7F9FD;
    margin-top: 40px;
}
.vacancy__null-text{
    font-size: 25px;
    line-height: 160%;
    color: #111;
    text-align: center;
    margin-bottom: 30px;
}
.vacancy__button-area{
    text-align: center;
}
.vacancy__thera{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
}
.vacancy__thera span{
    font-weight: 700;
    color: #4EB594;
}
/* vtrust */
.vtrust__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.vtrust__left{
    border-radius: 20px;
    background: #F7F9FD;
    padding: 40px;
    width: 630px;
}
.vtrust__left-logo{
    margin-bottom: 26px;
}
.vtrust__left-text{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 23px;
}
.vtrust__left-text p{
    margin-bottom: 18px;
}
.vtrust__left-text p span{
    font-weight: 500;
}
.vtrust__left-text p:last-child{
    margin-bottom: 0;
}
.vtrust__right{
    border-radius: 20px;
    background: #F7F9FD;
    padding: 40px 50px;
    text-align: center;
    width: 522px;
}
.vtrust__right-box{
    display: flex;
    flex-wrap: wrap;
}
.vtrust__item{
    width: 33%;
    margin-bottom: 40px;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #E7E8EB;
}
.vtrust__right-box .vtrust__item:nth-child(7),
.vtrust__right-box .vtrust__item:nth-child(8),
.vtrust__right-box .vtrust__item:nth-child(9){
    border-bottom: none;
}
.vtrust__right-title{
    font-size: 25px;
    font-weight: 500;
    color: #111;
    margin-bottom: 12px;
}
.vtrust__right-text{
    font-size: 16px;
    color: #111;
    line-height: 130%;
    margin-bottom: 56px;
    font-family: 'Inter';
}
/* vlist */
.vlist__item{
    background: #F7F9FD;
    border-radius: 20px;
    background: #F7F9FD;
    padding: 30px;
    margin-bottom: 32px;
}
.vlist__box .vlist__item:last-child{
    margin-bottom: 0;
}
.vlist__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}
.vlist__tags{
    display: flex;
    align-items: center;
    gap: 20px;
}
.vlist__tags li{
    color: #A4A4A4;
    font-family: 'Inter';
    font-size: 12px;
}
.vlist__title{
    color: #333;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}
.vlist__main{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 22px;
}
.vlist__date{
   padding-left: 15px;
   border-left: #a4a4a4;
   font-size: 14px;
   font-weight: 500;
   border-left: 1px solid #ddd;
}
.vlist__content{
    margin-bottom: 30px;
}
.vlist__text{
    margin-bottom: 25px;
    font-size: 14px;
    color: #111;
    line-height: 22px;
    font-family: 'Inter';
}
.vlist__salary{
    font-size: 16px;
    line-height: 130%;
    color: #111;
    margin-bottom: 30px;
    display: none;
    margin-top: 35px;
}
.vlist__salary_open{
    display: block;
}
.vlist__foreign{
    font-size: 16px;
}
.vlist__respond{
    font-size: 16px;
    padding: 12px 31px;
}
.vlist .nav__dropdown-link-icon{
    min-width: 24px;
    display: inline-block;
}
/* vlist__text */
.vlist__text p{
    display: none;
}
.vlist__text-preview + p{
    display: none;
}
.vlist__text-preview + .vlist__text-block{
    display: block;
}
/* vlist__list */
.vlist__list{
    display: none;
    margin-top: 20px;
}
.vlist__list-title{
    font-weight: 700;
    line-height: 160%;
    color: #111;
    display: block;
    margin-bottom: 15px;
}
.vlist__list li{
    list-style-type: disc;
    margin-bottom: 5px;
}
.vlist__ul{
    padding-left: 10px;
    margin-left: 10px;
}
/* vlist_expand */
.vlist__text_expand p{
    display: inline;
}
.vlist__text_expand .vlist__text-block{
    display: block;
    margin-top: 20px;
}
.vlist__text_expand .vlist__list{
    display: block;
}
.vlist__showmore{
    font-size: 14px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Inter';
}
.vlist__showmore:hover{
    text-decoration: none;
}
.vlist__add-icon{
    width: 34px;
    height: 34px;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #F0F0F0;
    cursor: pointer;
}
.vlist__add{
    position: relative;
    width: 35%;
    display: inline-flex;
    justify-content: flex-end;
}
.vlist__add .nav__dropdown-box{
    right: 0;
    top: 35px;
    margin-left: 0;
}
.vlist__buttons{
    display: flex;
    gap: 30px;
    align-items: center;
}
/* modal */
.graph-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.graph-modal__close{
    top: 25px;
    right: 25px;
    width: 15px;
    height: 15px;
}
/* response modal */
.response-modal {
    width: 690px;
    height: 480px;
    box-shadow: 0 4px 40px 0 rgba(0,0,0,0.1);
    border-radius: 20px;
    padding: 30px;
    margin: 0 auto;
}
.response__title{
    text-align: center;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 24px;
    color: #111;
}
.response__row{
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}
.response__cell_50{
    width: 50%;
}
.response__cell_100{
    width: 100%;
}
.response__cell span{
    display: block;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
}
.response__cell input{
    background: #F7F9FD;
    border-radius: 8px;
    padding-left: 14px;
    border: none;
    width: 100%;
    height: 56px;
    color: #000;
    font-size: 14px;
    border: 1px solid transparent;
}
.response__cell input:focus{
    border-color: #0066FF;
}
.response__cell input::-webkit-input-placeholder,
.response__cell textarea::-webkit-input-placeholder{
    color: #9AA0A9;
}
.response__cell input::-moz-placeholder,
.response__cell textarea::-webkit-input-placeholder{
    color: #9AA0A9;
}
.response__cell input:-moz-placeholder,
.response__cell textarea:-moz-placeholder{
    color: #9AA0A9;
}
.response__cell input:-ms-input-placeholder,
.response__cell textarea:-ms-input-placeholder {
   color: #9AA0A9;
}
.response__cell textarea{
    width: 100%;
    height: 144px;
    line-height: 130%;
    background: #F7F9FD;
    border-radius: 8px;
    border: none;
    padding: 14px;
    font-size: 14px;
    border: 1px solid transparent;
}
.response__cell textarea:focus{
    border-color: #0066FF;
}
.response__button-area{
    text-align: center;
    margin-top: 30px;
}
.response__button{
    font-size: 16px;
    padding: 14px 38px;
    display: inline-block;
    border: 1px solid transparent;
}
.response__button:focus{
    border-color: greenyellow;
}
/* tyformail */
.tyformail-modal{
    width: 690px;
    padding: 30px;
    background: #F4FFF4;
}
.tyformail{
    text-align: center;
}
.tyformail__icon{
    width: 90px;
    height: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #DDFFDC;
    border-radius: 10px;
    margin-bottom: 30px;
}
.tyformail__title{
    color: #444;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}
.tyformail__text{
    color: #A4A4A4;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 130%;
}
.tyformail__button{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 10px 40px;
    background: #27C58B;
    border-radius: 4px;
}
@media screen and (max-width: 1260px){
    .vtrust__wrapper{
        flex-direction: column;
    }
    .vtrust__left{
        order: 1;
        width: 100%;
    }
    .vlist{
        order: 2;
        width: 100%;
    }
    .vtrust__right{
        order: 3;
        width: 100%;
    }
    .vtrust__left-text{
        font-size: 16px;
        line-height: 19px;
    }
    .vlist__respond{
        font-size: 16px;
    }
    .vlist__foreign{
        font-size: 16px;
    }
}
@media screen and (max-width: 991px){
    .vlist__tags{
        flex-wrap: wrap;
        max-width: 80%;
        gap: 12px 20px;
    }
    .vtrust__left-link{
        font-size: 16px;
    }
    .vlist__item{
        position: relative;
    }
    .vlist__add{
        position: absolute;
        width: 50%;
        right: 15px;
        top: 15px;
    }
    .vlist .nav__dropdown-box{
        position: absolute;
        width: 100%;
        right: 0;
        top: 40px;
        border-radius: 8px;
        border-top: none;
        box-shadow: 0 4px 40px 0 rgba(0,0,0,.2);
    }
    .vlist .nav__dropdown-item{
        border: none;
    }
    .vlist .nav__dropdown-link{
        padding: 10px;
    }
    .vlist .nav__dropdown-box{
        padding: 5px;
    }
    .vacancy__null-text br{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .vtrust__item{
        width: 50%;
    }
    .vtrust__right-box .vtrust__item:last-child{
        margin-bottom: 0;
    }
    .vtrust__right-box .vtrust__item:nth-child(7),
    .vtrust__right-box .vtrust__item:nth-child(8){
        border-bottom: 1px solid #E7E8EB;
    }
    .vtrust__left-text{
        margin-bottom: 20px;
    }
    .vtrust__left{
        padding: 30px;
    }
    .vacancy__title{
        font-size: 25px;
    }
    .vacancy__thera{
        font-size: 20px;
    }
    .vlist__showmore{
        margin-bottom: 30px;
    }
    .vlist__date{
        display: none;
    }
    .vacancy__null{
        padding: 40px;
    }
    .vacancy__null-text{
        font-size: 21px;
    }
    .vacancy{
        margin-bottom: 0;
    }
    .response__row{
        flex-direction: column;
    }
    .graph-modal__container{
        width: 550px;
        max-width: 100%;
        height: auto;
    }
    .response__cell_50{
        width: 100%;
    }
    .response__row{
        margin-bottom: 0;
    }
    .response__cell{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 574px){
    .vtrust__left{
        padding: 30px 20px;
    }
    .vtrust__left-text{
        font-size: 14px;
        line-height: 17px;
    }
    .vacancy__thera{
        font-size: 16px;
    }
    .vacancy-wrapper{
        gap: 20px;
    }
    .vtrust__item{
        width: 60%;
        margin-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .vtrust__right-box{
        justify-content: center;
    }
    .vlist__buttons{
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }
    .vlist__tags li{
        font-size: 12px;
    }
    .vlist__main{
        margin-bottom: 30px;
    }
    .vlist__text{
        margin-bottom: 30px;
    }
    .vlist__add{
        width: calc(100% - 30px);
    }
    .vacancy__null-text{
        font-size: 16px;
    }
    .graph-modal__container{
        padding: 30px 20px;
    }
    .vlist__add-icon{
        background: none;
    }
    .vlist__item{
        padding: 30px 20px;
    }
    .vacancy__null-text br{
        display: block;
    }
    .vacancy__button{
        padding-left: 30px;
        padding-right: 30px;
    }
    .vacancy__null{
        padding-left: 26px;
        padding-right: 26px;
    }
    .vlist__list li{
        margin-bottom: 10px;
    }
}