<div class="comments">
    <div class="container2">
        <h2 class="comments__title title">
            Отзывы наших клиентов
        </h2>
        <div class="comments__wrapper">
            <div class="comments__item wow moveFromLeft">
                <div class="comments__item-info">
                    <div class="comments__item-name">
                        Александр (koles***.com)
                    </div>
                    <div class="comments__item-country">
                        Россия
                    </div>
                </div>
                <div class="comments__item-client">
                    Сервис, который действительно защищает от склика в Яндексе и Гугле. Пользуюсь сервисом больше года, под защитой 7 сайтов. Проверено! Рекомендую.
                </div>
                <div class="comments__item-admins">
                    <span>Ответ администрации:</span>
                    <p>
                        Александр, спасибо за отзыв, мы очень рады нашему сотрудничеству, приятно получать отзывы от клиентов с которыми работаем более года ;)
                    </p>
                </div>
            </div>
            <div class="comments__item wow moveFromRight">
                <div class="comments__item-info">
                    <div class="comments__item-name">
                        Кирилл А. (еда-***.рф)
                    </div>
                    <div class="comments__item-country">
                        Краснодар
                    </div>
                </div>
                <div class="comments__item-client">
                    Сервис, если честно, давно ждал. И очень рад, что он появился!!! Защита работает эффективно и уже с первой недели тестирования, я получил весьма ощутимый результат. CTR по некоторым рекламным кампаниям увеличился в 2-3 раза! Конверсии тоже ощутимо выросли. Короче, рабочая и очень нужная платформа для сегодняшнего рекламного интернет пространства. Спасибо вам ребята!!!
                </div>
                <div class="comments__item-admins">
                    <span>Ответ администрации:</span>
                    <p>
                        Кирилл! Спасибо за отзыв! Мы ежедневно работаем над развитием и улучшением сервиса. Скоро будем еще полезнее ;)
                    </p>
                </div>
            </div>
            <div class="comments__item wow moveFromBottom">
                <div class="comments__item-info">
                    <div class="comments__item-name">
                        Игорь
                    </div>
                    <div class="comments__item-country">
                        Волгоград
                    </div>
                </div>
                <div class="comments__item-client">
                    Иногда подрабатывая на буксах периодически делаю задания одного работодателя. неожиданно натыкаюсь на то что я заблокирован ботфактором. Хотя сам рекламодатель на буксах размещает не по одному заданию? где логика?
                </div>
                <div class="comments__item-admins">
                    <span>Ответ администрации:</span>
                    <p>
                        Да, мы работаем с подобными сервисами и блокируем исполнителей + скрываем от них показ рекламы в Яндекс Директ и Google Ads. Видимо у SEO специалиста свои KPI, а у маркетологов свои ;)
                    </p>
                </div>
            </div>
            <div class="comments__buttons">
                <a href="https://botfaqtor.ru/blog/reviews/" class="comments__button btn2">
                    <span>Все отзывы</span>
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0V2H9.59L0 11.59L1.41 13L11 3.41V12H13V0H1Z" fill="#111111"/>
                    </svg>
                </a>
                <a href="https://botfaqtor.ru/blog/reviews/" class="comments__button btn2">
                    <span>Оставить отзыв</span>
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0V2H9.59L0 11.59L1.41 13L11 3.41V12H13V0H1Z" fill="#111111"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>