<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Plugin google tag manager -->
<!--#include virtual="../../../common/components/google-tag-manager/gtm-top-document.html" -->

<!-- Plugin schema -->
<!--#include virtual="../../../common/components/schema/schema.html" -->

<!-- Plugin verbox -->
<!--#include virtual="../../../common/components/verbox/verbox.html" -->

<!-- Plugin vk-rtrg -->
<!--#include virtual="../../../common/components/vk-rtrg/vk-rtrg.html" -->

<!-- Plugin calltouch -->
<!--#include virtual="../../../common/components/calltouch/calltouch.html" -->