<div class="cause">
    <div class="container">
        <h2 class="cause__title title title--mb1">
            Чем мы занимаемся?
        </h2>
        <h3 class="cause__subtitle subtitle">
            С 2017 года Botfaqtor успешно борется с фродом во всех его проявлениях
        </h3>
        <div class="cause__box">
            <div class="cause__item">
                <div class="cause__item-img cause__item-img--firsts">
                    <img src="images/dist/cause-img1.svg" alt="">
                </div>
                <p class="cause__item-text">
                    Ловим ботов по более чем 100 техническим и поведенческим параметрам
                </p>
            </div>
            <div class="cause__item">
                <div class="cause__item-img cause__item-img--firsts">
                    <img src="images/dist/cause-img2.svg" alt="">
                </div>
                <p class="cause__item-text">
                    Отключаем показ рекламных объявлений для ~ 40 млн. ботов
                </p>
            </div>
            <div class="cause__item">
                <div class="cause__item-img cause__item-img--firsts">
                    <img src="images/dist/cause-img3.svg" alt="">
                </div>
                <p class="cause__item-text">
                    Отключаем показ рекламы для скликивателей с буксов и бирж <span>(более 500 тыс.)</span>
                </p>
            </div>
            <div class="cause__item">
                <div class="cause__item-img cause__item-img--seconds">
                    <img src="images/dist/cause-img4.svg" alt="">
                </div>
                <p class="cause__item-text">
                    Снижаем стоимость цели в контекстной рекламе
                </p>
            </div>
            <div class="cause__item">
                <div class="cause__item-img cause__item-img--seconds">
                    <img src="images/dist/cause-img5.svg" alt="">
                </div>
                <p class="cause__item-text">
                    Повышаем конверсию рекламных кампаний
                </p>
            </div>
            <div class="cause__item">
                <div class="cause__item-img cause__item-img--seconds">
                    <img src="images/dist/cause-img6.svg" alt="">
                </div>
                <p class="cause__item-text">
                    Увеличиваем количество продаж при фиксированном бюджете
                </p>
            </div>
            <div class="cause__item">
                <div class="cause__item-img cause__item-img--thirds">
                    <img src="images/dist/cause-img7.svg" alt="">
                </div>
                <p class="cause__item-text">
                    Защищаем от фродовых конверсий при помощи Умной капчи
                </p>
            </div>
            <div class="cause__item">
                <div class="cause__item-img cause__item-img--thirds">
                    <img src="images/dist/cause-img8.svg" alt="">
                </div>
                <p class="cause__item-text">
                    Знаем ботоводов и делаем тестовые закупки их ботов для улучшения наших алгоритмов
                </p>
            </div>
            <div class="cause__item cause__item--button">
                <a target="_blank" href="https://botfaqtor.ru/signin?service=yandex-clickfraud" class="cause__button btn2">
                    <span>Как работает сервис?</span>
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0V2H9.59L0 11.59L1.41 13L11 3.41V12H13V0H1Z" fill="#111111"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="cause__button-place">
            <a href="https://botfaqtor.ru/register" class="cause__button btn">
                Получить 7 дней бесплатно
            </a>
        </div>
    </div>
</div>