<!-- roll-network -->
<!--#include virtual="../../../common/components/roll-network/roll-network.html" -->

<!-- Plugin google tag manager -->


<!-- Plugin metrika -->
<!--#include virtual="../../../common/components/yandex.metrika/metrika-bottom-document.html" -->

<!-- Plugin metrika -->
<!--#include virtual="../../../common/components/botfaqtor-script-one-3/script.html" -->


<!-- Scripts -->
<!-- build:js -->
<script src="js/app.min.js"></script>
<!-- endbuild -->


<script>
    $(".ico-roll-network").click(function () {
        $(".block-roll").toggleClass("open-is");
        return false;
    });
    $(".message-list, .chat-chat-icon").click(function () {
        $(".block-roll").removeClass("open-is");
        return false;
    });
</script>