/* BASE */
// fonts
@import "common/base/fonts.less";
// reset
@import "common/base/reset.less";
// base
@import "common/base/base.less";

/* UI */
@import "common/repetitive/repetitive.less";

/* DEFAULT SECTIONS */
// header
@import "common/sections/header/header.less";
// footer
@import "common/sections/footer/footer.less";
// services
@import "common/sections/services-section/services-section.less";
// clicks
@import "common/sections/clicks-section/clicks-section.less";
// cases
@import "common/sections/cases-section/cases-section.less";
// trust
@import "common/sections/trust-section/trust-section.less";
// prot
@import "common/sections/prot-section/prot-section.less";
// cause
@import "common/sections/cause-section/cause-section.less";
// comments
@import "common/sections/comments-section/comments-section.less";
// contact section
@import "common/sections/contact-section/contact-section.less";
// qa-section
@import "common/sections/qa-section/qa-section.less";

/* PLUGINS */
@import 'common/external-scripts/roll-network/roll-network.less';
@import 'common/plugins/graph-tabs/style.less';


/* LANDING SECTIONS */
/* main */
.main {
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 90px;
}
.main__container {
	position: relative;
}
.main__wrapper {
	display: flex;
	justify-content: space-between;
}
.main__left {
	flex: 510px 0 0;
	position: relative;
	z-index: 5;
}
.main__incom {
	margin-bottom: 20px;
}
.main__incom-title {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 14px;
}
.main__incom-box {
	display: flex;
	gap: 25px;
	align-items: center;
}
.main__incom-first {
	padding-right: 25px;
	border-right: 1px solid #888;
}
.main__title {
	color: #111;
	font-weight: 500;
	font-size: 60px;
	line-height: 64px;
	margin: 16px 0;
}
.main__text {
	color: #111;
	font-size: 25px;
	line-height: 35px;
	margin-bottom: 24px;
	font-family: Inter;
}
.main__right {
	position: absolute;
	right: -430px;
	padding-right: 430px;
	width: 100%;
	height: 100%;
}
.main__shadow {
	position: absolute;
	right: 340px;
	opacity: 1;
	top: 0;
	z-index: 1;
}
.main__graphs {
	position: relative;
	z-index: 2;
	width: 720px;
	margin-left: auto;
	height: 100%;
}
.main__graphs1 {
	position: absolute;
	left: -30px;
	top: 0;
	border-radius: 10px;
}
.main__graphs2 {
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 10px;
}
.main-graphs-in1 {
	position: absolute;
	top: 90px;
	left: 55px;
}
.main-graphs-in2 {
	position: absolute;
	bottom: 10px;
	left: 40px;
}
.main-graphs-in3 {
	position: absolute;
	bottom: 40px;
	right: 16px;
}
.main__shadow-img {
	position: relative;
	width: 1000px;
	height: 610px;
	left: 60px;
	max-width: none;
}
@media screen and (max-width: 1370px){
	.main {
		padding-bottom: 80px;
	}

	.main__wrapper {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.main__left {
		-webkit-box-flex: 385px;
		-ms-flex: 385px 0 1;
		flex: 385px 0 1;
	}

	.main__title {
		font-size: 40px;
		line-height: 100%;
		max-width: 340px;
		margin-bottom: 25px;
	}

	.main__text {
		font-size: 20px;
		line-height: 25px;
	}

	.main__right {
		-webkit-box-flex: 500px;
		-ms-flex: 500px 0 0px;
		flex: 500px 0 0;
		right: -130px;
		padding-right: 130px;
	}

	.main__shadow {
		right: 60px;
	}

	.main__graphs1 {
		left: auto;
		right: 0;
		top: 30px;
		max-width: 500px;
	}

	.main__graphs2 {
		right: -25px;
		max-width: 500px;
		bottom: 30px;
	}

	.main-graphs-in1 {
		top: 50px;
		left: 40px;
		max-width: 400px;
	}

	.main-graphs-in2 {
		left: 45px;
		bottom: 20px;
		max-width: 340px;
	}

	.main-graphs-in3 {
		bottom: 40px;
		right: 25px;
		max-width: 80px;
	}

	.main__shadow-img {
		width: 750px;
		height: 350px;
		left: 70px;
	}
}
@media screen and (max-width: 991px){
	.main {
		padding-top: 35px;
	}

	.main__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 30px;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}

	.main__left {
		-webkit-box-flex: 1;
		-ms-flex: auto;
		flex: auto;
		max-width: 50%;
	}

	.main__right {
		position: absolute;
		right: 0;
		max-width: 47%;
		top: 0;
	}

	.main__shadow {
		right: -30px;
	}

	.main__graphs1 {
		max-width: 400px;
		right: 310px;
		top: 30px;
	}

	.main__graphs2 {
		right: 295px;
		max-width: 390px;
		bottom: 120px;
	}

	.main-graphs-in1 {
		max-width: 80%;
		top: 45px;
	}
	.main-graphs-in2 {
		max-width: 60%;
		left: 38px;
	}
	.main-graphs-in3 {
		bottom: 30px;
		right: 25px;
		max-width: 22%;
	}
	.main__shadow-img {
		width: 450px;
		height: 350px;
		left: auto;
		right: 0;
	}
}
@media screen and (max-width: 767px){
	.main {
		background: url(../images/dist/main-shadow.webp) calc(100% + 450px) -450px no-repeat;
	}
	.main__left,.main__title {
		max-width: 100%;
	}
	.main__right {
		display: none;
	}
}
@media screen and (max-width: 574px){
	.main__title {
		font-size: 35px;
	}
	.main__text {
		font-size: 16px;
		line-height: 25px;
	}
}
@media screen and (max-width: 480px){
	.main {
		padding-bottom: 60px;
	}
}
/* adv */
/* adv */
/* adv */
.advs {
	padding-bottom: 130px;
}

.adv__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 52px;
	padding: 30px 67px;
	-webkit-box-shadow: 0 4px 40px 0 rgba(0,0,0,.1);
	box-shadow: 0 4px 40px 0 rgba(0,0,0,.1);
	border-radius: 15px;
}

.adv__item {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	gap: 48px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding-right: 50px;
	border-right: 1px solid rgba(17,17,17,.2);
}

.adv__item--last {
	padding-right: 0;
	border-right: none;
}

.adv__item-icon {
	background: -webkit-gradient(linear,left top,right top,from(#dbecfb),to(#cfddf2));
	background: -o-linear-gradient(left,#dbecfb,#cfddf2);
	background: linear-gradient(to right,#dbecfb,#cfddf2);
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 14px;
	border-radius: 8px;
	position: relative;
}

.adv__item-icon:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-box-shadow: 0 0 31px 0 #1f71d2;
	box-shadow: 0 0 31px 0 #1f71d2;
}

.adv__item-icon img {
	border-radius: 80px;
}

.adv__item-text {
	text-align: center;
	font-size: 16px;
	line-height: 25px;
	color: #111;
}
@media screen and (max-width: 1370px){
	.advs {
		padding-bottom: 80px;
	}

	.adv__wrapper {
		-webkit-box-shadow: none;
		box-shadow: none;
		max-width: 720px;
		margin: 0 auto;
		padding: 0;
	}

	.adv__item {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 15px;
		padding-right: 0;
		border-right: none;
	}
}
@media screen and (max-width: 991px){
	
}
@media screen and (max-width: 767px){
	.adv__wrapper {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 30px 4%;
	}

	.adv__item {
		width: 48%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.adv__item-icon {
		min-width: 60px;
		min-height: 60px;
	}

	.adv__item-text {
		text-align: left;
	}
}
@media screen and (max-width: 574px){
	.advs {
		padding-bottom: 60px;
	}
}
@media screen and (max-width: 480px){
	.adv__item {
		width: 100%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		text-align: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	
	.adv__item-text {
		text-align: center;
	}
}
/* get */
/* get */
/* get */
.get {
	padding-bottom: 130px;
}
.get__title {
	margin-bottom: 40px;
	line-height: 50px;
}
.get__button-cell {
	text-align: center;
}
@media screen and (max-width: 991px){
	.get {
		padding-bottom: 100px;
	}
	.get__title{
		line-height: 40px;
		margin-bottom: 20px;
	}
}
/* calc */
/* calc */
/* calc */
.calc {
	padding: 60px 0;
}
.calc__wrapper {
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 4px 40px 0 rgba(0,0,0,.1);
	display: flex;
	gap: 52px;
	padding: 53px 50px;
	justify-content: space-between;
}
.calc__left {
	width: 420px;
	display: flex;
	flex-direction: column;
}
.calc__title {
	text-align: left;
	line-height: 100%;
	margin-bottom: 20px;
}
.calc__text {
	font-weight: 500;
	line-height: 130%;
	color: rgba(0,0,0,.5);
	max-width: 400px;
	font-family: Inter;
	margin-bottom: 22px;
}
/* form */
.calc__row{
	display: flex;
	gap: 10px;
	margin-top: 15px;
}
.calc__right{
	flex-basis: 620px;
}
.calc__item{
	width: 50%;
}
.calc__item_full{
	width: 100%;
}
.calc__item label{
	display: flex;
	flex-direction: column;
}
.calc__item input{
	height: 56px;
	background: #F7F9FD;
	width: 100%;
}
.calc__item span{
	font-size: 14px;
	color: #111;
	margin-bottom: 10px;
	display: block;
}
.calc__theme select{
	width: 100%;
	height: 56px;
	border-radius: 10px;
	background: url(../images/dist/select-icon.svg) no-repeat calc(100% - 22px) center, #F7F9FD;
	padding-left: 15px;
	border: none;
	appearance: none;
}
.calc__result{
	margin-top: 20px;
}
.calc__result-numbers{
	background: #F7F9FD;
	border-radius: 10px;
	padding: 9px;
	margin-top: 18px;
}
.calc__button-area{
	margin-top: auto;
}
.calc__result-numbers-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 0;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.calc__result-numbers .calc__result-numbers-item:last-child{
	border-bottom: none;
}
.calc__result-numbers-name{
	font-weight: 500;
	font-size: 14px;
	color: #111;
	font-family: 'Inter';
}
.calc__result-numbers-num{
	font-weight: 700;
	font-size: 16px;
	font-family: 'Inter';
}
.calc__result-numbers-num.year{
	color: rgba(212, 54, 54, .8);
}
.text-info.error.d-none {
	display: none;
}
.calc__result-title{
	font-size: 24px;
	font-weight: 700;
	color: #111;
	font-family: 'Inter';
}
.calc__result_mobile{
	display: none;
}
@media screen and (max-width: 1370px){
	.calc{
		padding: 50px 0;
	}
    .calc__wrapper {
		flex-direction: column;
		width: 700px;
		margin: 0 auto;
		padding: 40px;
	}
	.calc__left {
		width: 100%;
	}
	.calc__title {
		max-width: 420px;
	}
	.calc__text {
		max-width: 100%;
	}
	.calculator__box {
		width: 100%;
	}
	.calc__connect--1 {
		display: none;
	}
	.calc__connect--2 {
		display: inline-block;
	}
	.calc__right{
		flex-basis: auto;
	}
	.calc__result_desktop{
		display: none;
	}
	.calc__result_mobile{
		margin-top: 30px;
		display: block;
	}
	.calc__wrapper{
		gap: 0;
	}
}
@media screen and (max-width: 991px){
	.calc{
		padding: 40px 0;
	}
    .calc__wrapper {
		width: 100%;
	}
}
@media screen and (max-width: 767px){
    .calculator__group {
		flex-direction: column;
	}
	.calc__result-title{
		font-size: 20px;
	}
}
@media screen and (max-width: 574px){
	.calc{
		padding: 30px 0;
	}
	.calc__title {
		max-width: 300px;
		margin-bottom: 10px;
	}
	.calc__text {
		display: none;
	}
	.calc__button-area {
		text-align: center;
	}
	.calc__result-title{
		font-size: 16px;
	}
}
@media screen and (max-width: 480px){
    .calc__wrapper {
		padding: 16px;
	}
}
/* numbers */
/* numbers */
/* numbers */
.numbers {
	padding: 60px 0;
}
.numbers__box {
	border: 1px solid #2276d4;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	padding: 37px 120px 56px 110px;
	background: linear-gradient(to bottom,#edf8fd,#eef2fb);
	position: relative;
}
.numbers__item {
	text-align: center;
	visibility: visible!important;
}
.numbers__item-count {
	background: linear-gradient(to right,#409dec,#024cbb);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
	font-size: 40px;
	line-height: 64px;
	margin-bottom: 5px;
}
.numbers__item-text {
	color: #111;
	font-size: 16px;
	line-height: 25px;
}
.numbers__updates {
	font-size: 12px;
	line-height: 30px;
	color: rgba(0,0,0,.5);
	position: absolute;
	right: 15px;
	bottom: 10px;
}
@media screen and (max-width: 1370px){
	.numbers__box {
		padding: 37px 60px 56px;
	}
}
@media screen and (max-width: 991px){
	.numbers__box {
		flex-wrap: wrap;
		row-gap: 30px;
		padding: 37px 60px;
	}
	.numbers__item {
		width: 45%;
	}
	.numbers__item-count {
		line-height: 50px;
	}
	.numbers {
		padding: 50px 0;
	}
}
@media screen and (max-width: 767px){
	.numbers__box {
		padding: 35px;
	}
	.numbers__item-count {
		font-size: 28px;
		line-height: 38px;
	}
	.numbers__updates {
		bottom: 5px;
	}
}
@media screen and (max-width: 574px){
	.numbers__box {
		padding: 0;
		border: none;
		background: 0 0;
	}
	.numbers__updates {
		display: none;
	}
	.numbers {
		padding: 40px 0;
	}
}
/* byelama */
/* byelama */
/* byelama */
.byelama-area {
	padding-bottom: 130px;
}

.byelama {
	border-radius: 20px;
	background: #f7f9fd;
	padding: 37px 40px;
	width: 800px;
	margin: 0 auto;
}

.byelama__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 27px;
}

.byelama__title {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: #111;
}

.byelama__text {
	margin-bottom: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	gap: 26px;
	font-size: 20px;
	line-height: 24px;
}

.byelama__buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 30px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
@media screen and (max-width: 1370px){

}
@media screen and (max-width: 991px){
	.byelama {
		width: 100%;
	}
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 574px){
	.byelama-area {
		padding-bottom: 60px;
	}

	.byelama {
		padding: 34px;
	}

	.byelama__top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		gap: 15px;
	}

	.byelama__title {
		font-size: 30px;
	}
}
@media screen and (max-width: 480px){
	.byelama__title {
		text-align: center;
	}

	.byelama__buttons {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 20px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}
/* переопределение */
/* переопределение */
/* переопределение */
.link{
	color: #27C58B;
	border-color: #27C58B;
}
.title span{
	color: #4399FF;
}
.btn.byelama__register{
	color: #fff;
}
.landing-google-ad .cases{
	background: #F7F9FD;
}
.btn{
	background: linear-gradient(to right, #27C58B, #029E81);
}
.clicks__item:hover{
	border-color: #4399FF;
}
.clicks__item:hover .clicks__item-link{
	background: #4399FF;
	border-color: #4399FF;
}






[data-select] {
	border: none;
	background: url(../img/svg-ui-icons/triangle-down.svg) calc(100% - 15px) center no-repeat,#f7f9fd;
	position: relative;
	padding-right: 15px;
	-ms-appearance: none;
	appearance: none!important;
	-moz-appearance: none;
	-webkit-appearance: none;
}

[data-select]:checked {
	background: #f7f9fd;
	border: 1px solid #06f;
}

.select {
	position: relative;
}

.select__label {
	position: relative;
	display: block;
}

.select__item {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	opacity: 0;
	visibility: hidden;
}

.select__item--mobile {
	z-index: 2;
	visibility: visible;
	opacity: 0;
}

.custom-select {
	position: relative;
	border-radius: 8px!important;
}

.custom-select--show {
	border-radius: 8px 8px 0 0!important;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,.1);
	box-shadow: 0 0 30px rgba(0,0,0,.1);
}

.custom-select--show .custom-select__current::after {
	top: 40%;
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.custom-select--show .custom-select__list {
	display: block;
	-webkit-box-shadow: 0 10px 30px rgba(0,0,0,.1);
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.custom-select__current {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 56px;
	padding: 5px 14px;
	border-radius: 10px!important;
	font-size: 14px;
	font-weight: 500;
	font-family: Inter;
	color: rgba(60,70,85,.5);
	text-align: left;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	background: #f7f9fd;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.custom-select__current::after {
	content: "";
	position: absolute;
	right: 14px;
	top: 50%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 7px 0;
	border-color: #000 transparent transparent;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: .25s;
	-o-transition: .25s;
	transition: .25s;
}

.custom-select__list {
	position: absolute;
	z-index: 2;
	display: none;
	width: 100%;
	border-radius: 3px!important;
	background: #f7f9fd;
}

.custom-select__item {
	display: inline-block;
	width: 100%;
	padding: 10px;
	background: #f7f9fd;
	border: none;
	cursor: pointer;
	border-top: 1px solid rgba(0,0,0,.1);
}

.custom-select__item:hover {
	color: #27c58b;
}

.custom-select__current--notdef {
	color: #333;
}
[data-select~=bradius1] {
	border-radius: 10px;
}
.calculator__item-select {
	height: 56px;
	padding-left: 14px;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}










/**/
.roll-network_scrollbottom {
	bottom: 95px !important;
}

/* tooltip */
.tooltip-trigger {
    display: inline-block;
    z-index: 9999999;
}
.icon-tooltip {
    justify-content: center;
    color: #fff;
    display: flex;
    background: #999999;
    height: 16px;
    width: 16px;
    font-size: 12px !important;
    align-items: center;
    border-radius: 16px;
	line-height: 16px;
}
.tooltip-content {
    font-size: 14px;
    max-width: 320px;
    min-width: 160px;
    position: absolute;
    display: none;
    padding: 10px 0 0;
    left: 50%;
    top: 20px;
    opacity: 1;
    transform: translate(-50%, 0);
    transition: 200ms 100ms opacity, 300ms 100ms transform;
    z-index: 999999;
}
.tooltip-content__arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: 5px;
    left: calc(50% - 5px);
}
.tooltip:hover .tooltip-content {
    display: block;
}
.tooltip {
    position: relative;
    top: -2px;
    cursor: pointer;
}
.tooltip-content__body {
    display: block;
    background: #fff;
    font-weight: 400;
    color: #2f383e;
    max-width: 320px;
    border-radius: 3px;
    padding: 15px;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 15%);
}
.table-tariff:hover{
    z-index: 999;
}
.table-tariff.col-table-3.table2p.active + .table-tariff.col-table-3.table2p.active{
    border-left: none;
}