<section class="cases">
    <div class="container">
        <h2 class="cases__title title title--mb1">
            Кейсы по защите от скликивания
        </h2>
        <div class="cases__subtitle subtitle">
            Ознакомтесь с конкретными случаями экономии благодаря нашему сервису
        </div>
        <div class="cases__box">
            <a href="https://botfaqtor.ru/blog/cases/cases-equipment-repair/" target="_blank" class="cases__item">
                <div class="cases__item-link">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0V2H9.59L0 11.59L1.41 13L11 3.41V12H13V0H1Z" fill="#111111"/>
                    </svg>
                </div>
                <div class="cases__item-theme">
                    <div class="cases__item-body">
                        <span>Тематика:</span>
                        <p>Ремонт техники </p>
                    </div>
                    <div class="cases__item-saving">
                        Экономия: <span>52 032 руб.</span> 
                    </div>
                </div>
                <div class="cases__item-img">
                    <img data-src="images/dist/cases-img1.webp" class="lazyload">
                </div>
            </a>
            <a href="https://botfaqtor.ru/blog/cases/cases_design_of_heating_systems/" target="_blank" class="cases__item">
                <div class="cases__item-link">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0V2H9.59L0 11.59L1.41 13L11 3.41V12H13V0H1Z" fill="#111111"/>
                    </svg>
                </div>
                <div class="cases__item-theme">
                    <div class="cases__item-body">
                        <span>Тематика:</span>
                        <p>Недвижимость</p>
                    </div>
                    <div class="cases__item-saving">
                        Экономия: <span>197 016 руб. </span> 
                    </div>
                </div>
                <div class="cases__item-img">
                    <img data-src="images/dist/cases-img2.webp" class="lazyload">
                </div>
            </a>
            <a href="https://botfaqtor.ru/blog/cases/cases-aggregator/" target="_blank" class="cases__item">
                <div class="cases__item-link">
                    <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0V2H9.59L0 11.59L1.41 13L11 3.41V12H13V0H1Z" fill="#111111"/>
                    </svg>
                </div>
                <div class="cases__item-theme">
                    <div class="cases__item-body">
                        <span>Тематика:</span>
                        <p>Агрегатор ремонта квартир</p>
                    </div>
                    <div class="cases__item-saving">
                        Экономия: <span>42 951 руб. </span> 
                    </div>
                </div>
                <div class="cases__item-img">
                    <img data-src="images/dist/cases-img3.webp" class="lazyload">
                </div>
            </a>
        </div>
        <div class="cases__buttons">
            <a href="https://botfaqtor.ru/register" class="byelama__register btn">
                Подключить
            </a>
            <a href="https://botfaqtor.ru/blog/cases/" target="_blank" class="byelama__register">
                Все кейсы
            </a>
        </div>
    </div>
</section>